
<!DOCTYPE html>
<html>
{template 'header'}
	<head>
		<meta charset="utf-8">
		<title>在线签到</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="http://www.dcloud.io/hellomui/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="http://www.dcloud.io/hellomui/css/app.css" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

	</head> 

	<body>
	
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">在线签到</h1>
		</header>
		<div class="mui-content">

		
		
		
			<div class="mui-content-padded" style="margin: 5px;">
				
				<form action="" method="post" class="form-horizontal form" name="form" id="form">
					<div  class="mui-input-group">
						<div class="mui-input-row">
							<label >事由</label>
							<input type="text" placeholder="请输入事由" name="mainc" value="" id="title">
						</div>	
						<div class="" style="margin-left: 15px;" id="myDiv">
							<select class="mui-btn mui-btn-block" id="location">
							<option value="0" >等待获取地址...</option>
							</select>  
						</div>
						
						<div class="mui-input-cell">
							{php echo tpl_app_form_field_image('image', $image);}
						</div> 
					</div>
					<div class="mui-input-row" style="margin: 10px 5px;">
						<textarea id="textarea" rows="5" placeholder="备注" name="remark"></textarea>
					</div>
					<div class="mui-button-row">
							<button class="mui-btn mui-btn-royal" data-loading-text="获取中"  id="getLocation" type="button">获取位置</button>
							&nbsp;&nbsp;
							
							<input type="submit" class="mui-btn mui-btn-primary"  name="submit" value="在线签到">
								<input type="hidden" name="token" value="{$_W['token']}" />
						</div> 
				</form>
			</div>
			<div class="mui-content-padded" style="margin: 5px;">
				
				
				
				
				{loop $list $list}
				
				<div class="mui-card" style="padding:10px;">
				
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						{$list['title']}
					</div>
				</div>
				<a href="{php echo $this->createMobileUrl('detail',array(id=>$list['id']))}"><div class="mui-card-footer">{php echo date('Y-m-d H:i', $list['timesp'])}<br />{$list['addr']}</div></a>
			</div>
				
				
				
				
				
				{/loop}
		<div class="mui-button-row">
				<a href="{php echo $this->createMobileUrl('list')}"><button class="mui-btn " name="more" type="button">查看更多</button></a>
				</div>
			</div>    
			
			</div>
		   
	{template 'footer'}		

	</body>

<script > 

 wx.ready(function () {
    document.querySelector('#getLocation').onclick = function () {
	$("#wait").html('<option value="0" >正在获取地址</option>')
    wx.getLocation({
	 type: 'wgs84',  
      success: function (res) {
       // alert(JSON.stringify(res));
		var b=JSON.stringify(res);
		htmlobj=$.ajax({url:"/MP_verify_V1y0Tioz8cYmY6Sz.txt",async:false});
		$.post("{php echo $this->createMobileUrl('getlocation')}",{location:b}, function(data) {  
         $("#myDiv").html(data);
        });
		
      },
      cancel: function (res) {
	  
        alert('用户拒绝授权获取地理位置');
		$("#wait").html('<option value="0" >用户拒绝授权获取地理位置</option>')
      }
    });
  };
  });

</script>
<script > 
  $('#form').submit(function(e) {
	 
	
       
        if ($('#title').val()=='') {
		 
            alert('请填写事由');
			e.preventDefault();
            return false;
        }
		 if ($('#location').val()==0) {
		 
            alert('请先获取地址信息');
			e.preventDefault();
            return false;
        }
		 

        return true;
    });
</script>
</html>
