body,h1,h2,h3,p,dl,dd,ol,ul,th,td,form,fieldset,input,button,textarea {
	margin: 0;
	padding: 0
}

html {
	-webkit-text-size-adjust: none;
	word-wrap: break-word
}

h1,h2,h3 {
	font-size: 100%
}

ol,ul,li {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: inherit
}

fieldset,img {
	border: 0
}

cite,em,s,i,b {
	font-style: normal
}

input,button,textarea,select {
	font-size: 100%
}

body,input,button,textarea,select,option {
	font-size: normal
}

a,input,textarea {
	text-decoration: none;
	outline: 0;
	-webkit-tap-highlight-color: transparent
}

li,img,label,input {
	vertical-align: middle
}

var {
	font-style: normal
}

ins {
	text-decoration: none
}

body {
	font-size: 20px
}

html,body {
	height: 100%
}

body {
	background-color: #f4f4f4;
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif
}

.viewport {
	max-width: 720px;
	margin: auto;
	overflow: hidden
}

.hide {
	display: none
}

.imgurl {
	display: block;
	background: #fff url('/static/content/images/index.png') 50% 50% no-repeat;
	-webkit-background-size: 40% auto;
	-moz-background-size: 40% auto;
	-ms-background-size: 40% auto;
	-o-background-size: 40% auto;
	background-size: 40% auto;
	width: 100%
}

.imgurl img {
	width: 100%
}

@media only screen and (max-width:300px) {
	body {
		font-size: 12px
	}

	.viewport {
		max-width: 300px
	}
}

@media only screen and (max-width:310px)and (min-width:300px) {
	body {
		font-size: 12px
	}

	.viewport {
		max-width: 310px
	}
}

@media only screen and (max-width:320px)and (min-width:310px) {
	body {
		font-size: 12px
	}

	.viewport {
		max-width: 320px
	}
}

@media only screen and (max-width:350px)and (min-width:320px) {
	body {
		font-size: 12px
	}

	.viewport {
		max-width: 350px
	}
}

@media only screen and (max-width:360px)and (min-width:350px) {
	body {
		font-size: 12px
	}

	.viewport {
		max-width: 360px
	}
}

@media only screen and (max-width:400px)and (min-width:360px) {
	body {
		font-size: 14px
	}

	.viewport {
		max-width: 400px
	}
}

@media only screen and (max-width:470px)and (min-width:400px) {
	body {
		font-size: 14.05556px
	}

	.viewport {
		max-width: 470px
	}
}

@media only screen and (max-width:480px)and (min-width:470px) {
	body {
		font-size: 16px
	}

	.viewport {
		max-width: 480px
	}
}

@media only screen and (max-width:540px)and (min-width:480px) {
	body {
		font-size: 16.55556px
	}

	.viewport {
		max-width: 540px
	}
}

@media only screen and (max-width:560px)and (min-width:540px) {
	body {
		font-size: 16.83333px
	}

	.viewport {
		max-width: 560px
	}
}

@media only screen and (max-width:570px)and (min-width:560px) {
	body {
		font-size: 17px
	}

	.viewport {
		max-width: 570px
	}
}

@media only screen and (max-width:630px)and (min-width:570px) {
	body {
		font-size: 17.5px
	}

	.viewport {
		max-width: 630px
	}
}

@media only screen and (max-width:640px)and (min-width:630px) {
	body {
		font-size: 17.77778px
	}

	.viewport {
		max-width: 640px
	}
}

@media only screen and (max-width:710px)and (min-width:640px) {
	body {
		font-size: 18.72222px
	}

	.viewport {
		max-width: 710px
	}
}

@media only screen and (max-width:720px)and (min-width:710px) {
	body {
		font-size: 19px
	}

	.viewport {
		max-width: 720px
	}
}

@media only screen and (min-width:720px) {
	body {
		font-size: 20px
	}

	.viewport {
		width: 720px
	}
}

.xm-button {
	display: block;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	-ms-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
	background-color: #f60;
	text-align: center;
	height: 4em;
	line-height: 4em
}

.xm-button span,.xm-button a {
	font-size: 1.6em;
	color: #fff;
	display: block
}

.xm-button:active,.xm-button:hover {
	-webkit-box-shadow: rgba(0,0,0,.3) 0 .1em .2em .05em inset;
	-moz-box-shadow: rgba(0,0,0,.3) 0 .1em .2em .05em inset;
	-ms-box-shadow: rgba(0,0,0,.3) 0 .1em .2em .05em inset;
	-o-box-shadow: rgba(0,0,0,.3) 0 .1em .2em .05em inset;
	box-shadow: rgba(0,0,0,.3) 0 .1em .2em .05em inset
}

.xm-button-gray {
	background-color: #fdfdfd;
	border: 1px solid #bbb
}

.xm-button-gray span {
	color: #666
}

.xm-button .btn {
	border: none;
	background: none;
	color: #fff
}

.button {
	font-size: 1.6em;
	display: block;
	text-align: center;
	line-height: 2.5em;
	-moz-border-radius: .1875em;
	-webkit-border-radius: .1875em;
	border-radius: .1875em;
	overflow: hidden;
	border-width: 1px;
	border-style: solid
}

.button.active_button {
	color: #fff;
	background: #f60;
	border-color: #f60
}

.button.active_button:active,.button.active_button:hover {
	-moz-box-shadow: rgba(0,0,0,.3) 0 .0625em .125em .03125em inset;
	-webkit-box-shadow: rgba(0,0,0,.3) 0 .0625em .125em .03125em inset;
	box-shadow: rgba(0,0,0,.3) 0 .0625em .125em .03125em inset
}

.button.disable_button {
	color: #666;
	background: #fdfdfd;
	border-color: #bbb
}

.button.del_button {
	color: #fff;
	background: #e83636;
	border-color: #e83636
}

.button-success {
	background-color: #30bb74!important;
	border-color: #30bb74!important;
	color: #fff!important
}

.header {
	position: relative;
	background-color: #43AC43;
	border-bottom: 1px solid #43AC43;
	z-index: 99;
	height: 4em;
	width: 100%
}

.header .tit {
	text-align: center;
	height: 4em
}

.header .tit h2 {
	padding: 1.2em 0 0
}

.header .tit span {
	font-size: 2em;
	color: #fff;
	font-weight: 300;
	line-height: 2.55263em
}

.header .left {
}

.header .left .logo {
	padding: 0 1em;
	padding-top: .5em;
	height: 3.5em;
	display: inline-block;
	vertical-align: baseline
}

.header .left .logo img {
	height: 90%
}

.header .left .home {
	display: inline-block;
	padding: 1em 1.5em
}

.header .left .home span {
	color: #fff;
	display: inline-block;
	font-size: 1.7em;
	padding: .2em 0
}

.header .left .back {
	padding: 0 1.5em;
	margin-top: 2em;
	color: rgba(0,0,0,.3);
	display: inline-block
}

.header .left .back:before {
	content: '';
	border: 2px solid transparent;
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: auto;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.header .left span {
	display: inline-block;
	color: #fff;
	color: #fff;
	line-height: 4em
}

.header .left span i {
	color: #ff0
}

.header .left .back:after,.header .left .back:before {
	border-color: #fff
}

.header .left .back:before {
	border-right: none;
	border-bottom: none
}

.header .right {
	padding: .3em .5em 0 0;
	position: absolute;
	right: 0;
	top: 0
}

.page-viewport {
	margin: auto;
	max-width: 720px;
	overflow: hidden
}

.page-content {
	padding: 0 1em
}

.bottom_line {
	height: 5.2em
}

.nav {
	width: 100%;
	overflow: hidden;
	padding: 5px 0;
	margin-top: 1em
}

.nav ul {
	overflow: hidden
}

.nav li {
	width: 16.666%;
	line-height: 1.325em;
	float: left;
	font-size: 1.25em;
	display: inline-block;
	text-align: center
}

.nav li a {
	display: block;
	color: #565656
}

.nav li a:focus {
	background: #edb758
}

.nav li.current a {
	background: #edb758
}

.navmore {
	display: none
}

#toggle {
	position: relative
}

#toggle a,#toggle a:focus,#toggle li.current a {
	background: none
}

.togglemore:after,.togglesingle:after {
	position: absolute;
	display: inline-block;
	content: "";
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	color: #fafafa;
	border-style: solid;
	border-width: 5px
}

.togglemore:after {
	margin-top: 14px;
	border-color: #565656 #f4f4f4 #f4f4f4 #f4f4f4
}

.togglesingle:after {
	margin-top: 6px;
	border-color: #f4f4f4 #f4f4f4 #565656 #f4f4f4
}

.nav .togglesingle,.nav .toggle .togglemore {
	display: none
}

.nav .togglemore,.nav .toggle .togglesingle {
	display: block
}

.newsList {
}

.newsList>ul {
	margin: 1em 0;
	border: 1px solid #e5e5e5;
	border-bottom: 0;
	-moz-border-radius: .4em;
	-webkit-border-radius: .4em;
	border-radius: .4em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: rgba(0,0,0,.1) 0 .1em .05em;
	-webkit-box-shadow: rgba(0,0,0,.1) 0 .1em .05em;
	box-shadow: rgba(0,0,0,.1) 0 .1em .05em;
	overflow: hidden
}

.newsList>ul>li {
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
	box-sizing: border-box;
	padding: 0 1em;
	position: relative;
	float: left;
	width: 100%
}

.newsList>ul>li a {
	display: block;
	color: #51545a;
	height: 100%;
	padding: .8em 0;
	height: auto;
	float: left;
	width: 100%
}

.newsList>ul>li .fr {
	float: right;
	width: 78%;
	display: block
}

.newsList>ul>li .fr p {
	margin-top: .4em;
	position: relative;
	vertical-align: baseline
}

.newsList>ul>li .fr p i {
	margin-right: .8em
}

.newsList>ul>li .fr .star {
	position: absolute;
	top: -2px
}

.newsList>ul>li .fr .star label {
	background: url(/static/content/images/star.png) no-repeat 0 0;
	-webkit-background-size: 1em 1em;
	background-size: 1em 1em;
	width: 1em;
	height: 1em;
	display: inline-block;
	margin-right: .4em
}

.newsList>ul>li a h4 {
	font-size: 1.125em;
	margin: 0;
	font-weight: 400
}

.newsList>ul>li .nlb_pic {
	float: left;
	width: 20%
}

.newsList>ul>li .nlb_pic img {
	width: 100%
}

.packages-list p:nth-child(odd) {
	background: #7dbe26
}

.packages-list p:nth-child(even) {
	background: #f49800
}

.packages {
	color: #fff;
	padding: 5px;
	font-size: 16px
}

.adlabel a {
	height: auto!important
}

.adlabel img {
	width: 100%
}

.toptext {
	background: #e8e8e8;
	height: 2.2em;
	display: table;
	width: 100%;
	margin: 1em 0
}

.toptext a {
	color: #282828;
	text-decoration: none;
	line-height: 2.2em;
	display: table-cell;
	text-align: center
}

.toptext a:first-child {
	border-right: 1px solid #efefef
}

.topimgad {
	overflow: hidden
}

.topimgad img {
	width: 100%
}

.bottomtext {
	background: rgba(51,51,51,.8);
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999
}

.textInt {
	max-width: 720px;
	margin: 0 auto
}

.textInt ul {
}

.textInt ul li {
	background: rgba(255,255,255,.95);
	height: 1.8em;
	line-height: 1.8em;
	padding-left: .5em
}

.textInt ul li:nth-of-type(even) {
	background: rgba(245,242,242,.95)
}

.textInt ul li a {
	width: 100%
}

.textInt ul li i {
	margin: 0 .2em;
	color: #ec0f1e
}

.bottomtext .bottomimg img {
	width: 100%
}

.bottomtext .close {
	float: right;
	margin-top: -24px
}

.bottomtext .close .c {
	border-bottom: 24px solid rgba(51,51,51,.8);
	border-left: 10px solid transparent;
	width: 0;
	height: 0;
	float: left
}

.bottomtext .close .c2 {
	background: rgba(51,51,51,.8);
	color: #fff;
	float: right;
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
	float: right
}

.comment_page {
	position: relative;
	padding: 1.2em 0 0;
	text-align: center;
	height: 3.1em
}

.comment_page .prev,.comment_page .next,.comment_page .page_select {
	display: inline-block;
	padding: 0 1.5em
}

.comment_page .prev span,.comment_page .next span,.comment_page .page_select span {
	font-size: 1.3em;
	color: #666
}

.comment_page .dis span {
	color: #ccc
}

.comment_page .page_select::after {
	content: " ";
	display: inline-block;
	width: 0;
	height: 0;
	border-width: .4em;
	border-style: solid;
	border-color: #666 #fff #fff;
	vertical-align: bottom;
	margin: 0 .2em
}

.comment_page .input_select {
	opacity: 0;
	position: absolute;
	width: 6em;
	margin-left: -3em;
	left: 50%;
	z-index: 1
}

.primary {
	padding: 1em
}

.primary .title {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e7e7eb;
	line-height: 1.4;
	font-weight: 400;
	font-size: 24px
}

.primary .meta {
	overflow: hidden;
	padding-bottom: .8em;
	position: relative;
	height: 40px;
	line-height: 40px;
	margin: .4em 0;
	font-size: 16px
}

.bottom_info {
	color: #8c8c8c;
	font-size: 16px
}

.bottom_info .Report {
	float: right
}

.primary .follow {
	background-color: #54ca42;
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	padding: 2px 5px;
	text-decoration: none;
	float: right
}

.primary .time {
	display: inline-block;
	overflow: hidden;
	float: left;
	color: #8c8c8c;
	font-family: Helvetica
}

.primary .follow-name {
	display: inline-block;
	overflow: hidden;
	float: left
}

.primary .follow-image {
	display: inline-block;
	overflow: hidden;
	float: left;
	color: #666
}

.primary .follow-image img {
	height: 40px
}

.primary .nickname {
	display: inline-block;
	font-size: 16px;
	margin-bottom: 10px;
	margin-right: 8px;
	vertical-align: middle
}

.primary .content {
	border-top: 0 solid #fff;
	padding: 12px 0
}

.primary .content img {
	width: 100%
}

.primary .content p {
	padding: 0;
	font-size: 1.2em;
	color: #393939;
	line-height: 1.75em;
	word-wrap: break-word;
	text-align: justify
}

.primary .focusbox img {
	width: 100%
}

.primary .focusbox .close {
	color: #000;
	display: block;
	float: right;
	font-size: 24px;
	margin-top: -42px;
	padding: 15px 30px;
	position: relative;
	text-align: center;
	text-decoration: none
}

.primary h4.title {
	font-size: 1.5em;
	border-bottom: 1px solid #f3f3f3;
	padding-bottom: .8em;
	margin: 0
}

.primary .newsList ul {
	border: none!important;
	box-shadow: none!important
}

.primary .newsList ul li a h4 {
	font-size: 1.125em
}

.primary .sitename {
	margin-left: .8em;
	color: #607fa6
}

.primary .clicknum {
	margin-left: .8em;
	float: right;
	color: #666
}

.primary .followbox {
	margin-top: .5em
}

.primary .followbox img {
	width: 100%
}

.thumb-hidden {
	width: 0;
	height: 0;
	overflow: hidden
}

.thumb-hidden img {
	width: 0;
	height: 0
}

.page-login .main {
	padding: 20px 15px 0
}

.page-login h2 {
	margin: 8px 0 10px;
	line-height: 1.5;
	font-size: 13px;
	color: #686868
}

.page-login .item,.page-login .item-captcha .input-info {
	margin-bottom: 10px
}

.page-login h2 span {
	color: #252525
}

.page-login .item {
	position: relative;
	width: 100%
}

.page-login .item:after {
	clear: both;
	content: " "
}

.page-login .item input {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

.page-login .item .txt-input {
	width: 100%;
	height: 44px;
	line-height: normal;
	padding: 0;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	background: #fff;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #252525;
	padding-left: 15px
}

.page-login .item .txt-input::-webkit-input-placeholder {
	color: #bfbfbf
}

.page-login .item .txt-input:-moz-placeholder {
	color: #bfbfbf
}

.page-login .item .txt-input::-moz-placeholder {
	color: #bfbfbf
}

.page-login .item .txt-input:-ms-input-placeholder {
	color: #bfbfbf
}

.page-login .item .err-msg {
	font-size: 13px;
	color: #ff7a4d
}

.page-login .item .txt-err {
	border: 1px solid #ff7a4d
}

.page-login .item .txt-phone {
	padding-left: 15px;
	width: 53.31034482758621%
}

.page-login .item .txt-captcha,.page-login .item .txt-password,.page-login .item .txt-username {
	padding-left: 15px
}

.page-login .item .txt-pad18 {
	padding-left: 18px
}

.page-login .item-login-option {
	padding-top: 20px;
	margin-bottom: 34px;
	font-size: 14px
}

.page-login .item-login-option .register-free {
	float: left;
	width: 50%
}

.page-login .item-login-option .retrieve-password {
	float: right;
	width: 50%;
	text-align: right
}

.page-login .item-login-option .register-free a,.page-login .item-login-option .retrieve-password a {
	color: #686868;
	font-size: 15px;
	height: 14px;
	display: inline-block;
	text-decoration: none
}

.page-login .item-login-option:after {
	display: block
}

.page-login .item:after {
	display: block
}

.page-login .item-phone .input-close {
	right: 15px
}

.page-login .item-username .input-close {
	right: 17px
}

.page-login .item-password .input-close {
	right: 78px
}

.page-login .item-password .tp-btn {
	display: block;
	position: absolute;
	right: 10px;
	top: 8px;
	width: 51px;
	height: 35px
}

.page-login .item-password .btn-off {
	background: url(/static/content/images/see.png)no-repeat;
	background-size: 51px 35px
}

.page-login .item-password .btn-on {
	background: url(/static/content/images/seeon.png)no-repeat;
	background-size: 51px 35px
}

.page-login .item-captcha #captcha-img {
	position: absolute;
	right: 0;
	top: 9px;
	width: 79px;
	height: 25px;
	padding-left: 7px;
	border-left: 1px solid #d7d7d7
}

.page-login .item-captcha .input-close {
	right: 89px
}

.page-login .item-password .err-tips {
	margin: 13px 0 24px;
	font-size: 13px;
	color: #848689
}

.page-login .item-password .err-tips a {
	color: #ff7a4d;
	border-bottom: 1px solid #ff7a4d;
	display: inline-block;
	height: 13px
}

.page-login .item-captcha .login-free {
	position: relative;
	height: 18px;
	padding-left: 26px;
	line-height: 18px;
	font-size: 13px;
	color: #848689
}

.page-login .item-captcha .login-free b {
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background: url(/static/content/images/uncheck.png)no-repeat;
	background-size: 18px 18px
}

.page-login .item-captcha .login-free-selected b {
	background: url(/static/content/images/check.png)no-repeat;
	background-size: 16px 16px
}

.item-btns .btn-login,.item-btns .btn-next {
	display: inline-block;
	width: 100%;
	height: 40px;
	border-radius: 3px;
	background: #ff7a4d;
	text-decoration: none;
	line-height: 39px;
	text-align: center;
	font-size: 17px;
	color: #fff;
	border: 0
}

.item-btns .btn-disabled {
	opacity: .5;
	cursor: default;
	color: #fff
}

.page-login .item-sms-captcha {
	margin-bottom: 10px
}

.page-login .item-sms-captcha .txt-sms-captcha {
	float: left;
	padding-left: 15px
}

.page-login .item-phone .btn-retransmit {
	float: right;
	overflow: hidden;
	width: 44.13793103448276%;
	height: 42px;
	border: 1px solid #f15353;
	border-radius: 3px;
	background: #fff;
	line-height: 44px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	color: #f15353
}

.page-login .item-phone .btn-retransmit-disabled {
	box-shadow: none;
	border: 1px solid #e2e2e2;
	background: #e2e2e2;
	cursor: default;
	color: #bdbdbd
}

.page-login .item-select .new-input-span {
	display: block;
	height: 44px;
	border: 1px solid #d7d7d7;
	border-radius: 3px
}

.page-login .item-select .new-input-span .new-sel-box {
	width: 100%;
	height: 44px;
	line-height: normal;
	padding: 0;
	background: #fff;
	font-family: '微软雅黑';
	font-size: 16px;
	line-height: 44px;
	text-indent: 15px;
	color: #252525;
	display: inline-block;
	position: relative
}

.page-login .item-select .new-input-span .new-sel-box:after {
	content: '\20';
	display: block;
	position: absolute;
	top: 50%;
	right: 1.5em;
	margin: -.8em 0 0 -.5em;
	width: .8em;
	height: .8em;
	border-top: 2px solid #9b9b9b;
	border-left: 2px solid #9b9b9b;
	-webkit-transition: .2s ease;
	-webkit-transition-delay: 0s;
	-moz-transition: .2s ease;
	-o-transition: .2s ease;
	transition: .2s ease;
	-webkit-transform: scaleY(1) rotate(225deg);
	-moz-transform: scaleY(1) rotate(225deg);
	-ms-transform: scaleY(1) rotate(225deg);
	-o-transform: scaleY(1) rotate(225deg);
	transform: scaleY(1) rotate(225deg)
}

.page-login .item-select .new-input-span .new-sel-box .new-select {
	height: 44px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10
}

.page-login .ad_text {
	font-size: 3em;
	color: #ff760d;
	text-align: center;
	padding-bottom: .2em
}

.page-login .ad_count {
	font-size: 1.8em;
	color: #b79884;
	text-align: center;
	margin-bottom: 1em
}

.page-login .ad_count span {
	color: red;
	padding: 0 .5em
}

.page-login p {
	color: #b79884;
	margin: 1em 0;
	text-align: center
}

footer,nav {
	display: block
}

footer nav.f-nav {
	position: fixed;
	bottom: 0
}

nav.f-nav {
	color: #dedede;
	background: #333;
	height: 4em;
	width: 100%;
	border-top: 1px solid #e3e3e3;
	z-index: 9999
}

nav.f-nav a {
	color: #999;
	text-align: center
}

nav.f-nav ul {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	width: 100%
}

nav.f-nav ul li {
	padding: .6em 0;
	width: 33.333%;
	text-align: center;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1
}

nav.f-nav ul li i {
	display: block;
	width: 1.3em;
	font-size: 1.3em;
	margin: .1em auto
}

nav.f-nav ul li.on a {
	color: #df3031
}

.f-icon {
	background-repeat: no-repeat;
	background-position: center center;
	background: url(/static/content/images/iconall.png) no-repeat;
	background-size: 15em
}

.f-icon1 {
	background-size: 18em
}

.f-icon-cate3 {
	background-position: -.1em 0
}

.f-icon-home {
	background-position: -6.45em -.2em
}

.f-icon-search {
	background-position: -10.8em -.2em
}

.f-icon-search1 {
	background-position: -12.85em 0
}

.f-icon-cate {
	background-position: -.1em 0;
	background-size: 13em
}

.f-icon-flow {
	background-position: -2.7em -.15em
}

.f-icon-user {
	background-position: -12.98em -.15em
}

.userinfo {
	display: table;
	width: 100%;
	height: 16.05em;
	text-align: center;
	color: #fff;
	background: url(userinfo_bg.jpg) no-repeat;
	background-size: 100% 100%;
	text-align: left
}

.userinfo .userinfo_content {
	display: table-cell;
	vertical-align: middle
}

.user_paypill {
	padding: 0 2em
}

.user_paypill_content {
	width: 100%
}

.user_paypill a {
	color: #fff
}

.user_paypill .user_paypill_bd {
	width: 50%;
	overflow: hidden
}

.user_paypill .user_paypill_bd:first-child {
	border-right: 1px solid #FFFFFF;
	float: left;
	width: 49%
}

.user_paypill .user_paypill_bd:last-child {
	text-align: right;
	float: right
}

.userinfo .my-info {
	float: left
}

.userinfo .my-img {
	width: 4.8125em;
	height: 4.8125em;
	border-radius: 4em;
	border: .125em solid #fff;
	box-shadow: inset 0 1px 8px rgba(0,0,0,.2);
	margin-top: .5em;
	margin-bottom: .25em;
	margin-right: 1em;
	display: inline-block;
	overflow: hidden;
	background-size: cover
}

.userinfo .my-name {
	display: block;
	overflow: hidden;
	width: 4.8125em;
	text-align: center;
	line-height: 1.2em;
	height: 1.2em
}

.user_count {
	font-size: 1.4em
}

.user_price {
	font-weight: 400;
	font-size: 4em;
	margin-top: .2em;
	font-family: "Helvetica Neue",Arial
}

.user_price strong {
	font-size: .6em;
	margin-right: .5em
}

.user_balance .user_price,.user_balance .user_count {
	text-align: right
}

.user_notice {
	background: #f2b53f;
	height: 3em;
	line-height: 3em;
	padding: 0 1em
}

.user_notice .marquee {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	animation: marquee 30s linear infinite;
	color: #fff;
	font-weight: bold
}

.user_notice .marquee:hover {
	animation-play-state: paused
}

@keyframes marquee {
	0% {
		text-indent: 27.5em
	}

	100% {
		text-indent: -105em
	}
}

@font-face {
	font-family:'iconfont';src:url('../font/iconfont.eot');src:url('../font/iconfont.eot?#iefix') format('embedded-opentype'),url('../font/iconfont.woff') format('woff'),url('../font/iconfont.ttf') format('truetype'),url('../font/iconfont.svg#iconfont') format('svg')
}

.icon {
	font-family: "iconfont"!important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}

.icon-newuser:before {
	content: ""
}

.icon-invited:before {
	content: ""
}

.icon-cash:before {
	content: ""
}

.icon-payme:before {
	content: ""
}

.icon-paymeinfo:before {
	content: "󰀐"
}

.icon-contact:before {
	content: ""
}

.icon-follow:before {
	content: "󰀣"
}

.icon-quit:before {
	content: ""
}

.icon-fans:before {
	content: ""
}

.icon-money:before {
	content: ""
}

.icon-usercenter:before {
	content: ""
}

.icon-heart:before {
	content: ""
}

.page-index .nav-wrap .swipe {
	position: relative;
	visibility: hidden;
	overflow: hidden
}

.page-index .nav-wrap .swipe-wrap {
	overflow: hidden;
	position: relative
}

.page-index .nav-wrap .swipe-wrap>div {
	float: left;
	width: 100%;
	position: relative
}

.page-index .nav-index {
	background-color: #fff
}

.page-index .nav-index ul {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #f6f6f6
}

.page-index .nav-index ul:first-child {
	border-top: 1px solid #f6f6f6
}

.page-index .nav-index li {
	display: table-cell;
	width: 25%;
	border-left: 1px solid #f6f6f6
}

.page-index .nav-index li:first-child {
	border-left: 0 none
}

.page-index .nav-index li a {
	display: block;
	width: 100%;
	height: 8.6em;
	text-align: center;
	overflow: hidden
}

.page-index .nav-index li a .icon {
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	line-height: .8;
	vertical-align: middle
}

.page-index .nav-index li a .icon:before {
	color: rgba(255,255,255,.8);
	font-size: 2em;
	line-height: 1.575em
}

.page-index .nav-index li a .t {
	color: #333;
	font-size: 1.1em
}

.page-index .nav-index li .widget-icon {
	display: block;
	width: 4em;
	height: 4em;
	margin: 1.4em auto .8em;
	text-align: center;
	border-radius: 50%;
	background: rgba(0,0,0,.05)
}

.wbg_1 {
	background: #5ccdde!important
}

.wbg_2 {
	background: #afde5c!important
}

.wbg_3 {
	background: #deb25c!important
}

.wbg_4 {
	background: #de815c!important
}

.wbg_5 {
	background: #b22d00!important
}

.wbg_6 {
	background: #4c6600!important
}

.wbg_7 {
	background: #4da6ff!important
}

.wbg_8 {
	background: #a64dff!important
}

.wbg_2 .icon:before {
	font-size: 3em!important;
	line-height: 1.235em!important;
	color: #ff0!important
}

.wbg_2 .icon {
	-webkit-animation: tada 3s .2s infinite ease both;
	-moz-animation: tada 3s .2s infinite ease both
}

@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale(1)
	}

	10%,20% {
		-webkit-transform: scale(.9) rotate(-3deg)
	}

	30%,50%,70%,90% {
		-webkit-transform: scale(1.1) rotate(3deg)
	}

	40%,60%,80% {
		-webkit-transform: scale(1.1) rotate(-3deg)
	}

	100% {
		-webkit-transform: scale(1) rotate(0)
	}
}

@-moz-keyframes tada {
	0% {
		-moz-transform: scale(1)
	}

	10%,20% {
		-moz-transform: scale(.9) rotate(-3deg)
	}

	30%,50%,70%,90% {
		-moz-transform: scale(1.1) rotate(3deg)
	}

	40%,60%,80% {
		-moz-transform: scale(1.1) rotate(-3deg)
	}

	100% {
		-moz-transform: scale(1) rotate(0)
	}
}

.notice {
	background-color: #eefff6;
	border-color: #d5ffe1;
	color: #4c9c77!important;
	background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
	background-repeat: repeat-x;
	box-shadow: 0 1px 0 rgba(255,255,255,.25) inset,0 1px 2px rgba(0,0,0,.05);
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
	margin: 1em 0;
	padding: .8em;
	line-height: 1.5em
}

.notice p {
	text-align: left!important;
	color: #4c9c77!important;
	margin: 0!important
}

.notice-alert {
	background: #eb525d;
	color: #fff
}

.notice-alert p {
	color: #fff!important;
	margin: 0!important
}

.t2 {
	padding: 1em 0
}

.t2 .item {
	border-top: 1px solid #eee
}

.t2 .item:first-child {
	border-top: 0 none
}

.t2 .head {
	position: relative;
	padding: 0 0 0 1.7em
}

.t2 .head span {
	font-size: 1.2em;
	color: #666;
	line-height: 2.66667em
}

.t2 .head span.bs-label {
	font-size: 1em;
	color: #fff;
	line-height: 1.2em;
	margin: 0 .5em;
	position: absolute;
	right: 4em;
	top: 1.2em
}

.t2 .head:after {
	content: '\20';
	display: block;
	position: absolute;
	top: 50%;
	right: 1.5em;
	margin: -.8em 0 0 -.5em;
	width: 1em;
	height: 1em;
	border-top: 2px solid #9b9b9b;
	border-left: 2px solid #9b9b9b;
	-webkit-transition: .2s ease;
	-webkit-transition-delay: 0s;
	-moz-transition: .2s ease;
	-o-transition: .2s ease;
	transition: .2s ease;
	-webkit-transform: scaleY(1) rotate(225deg);
	-moz-transform: scaleY(1) rotate(225deg);
	-ms-transform: scaleY(1) rotate(225deg);
	-o-transform: scaleY(1) rotate(225deg);
	transform: scaleY(1) rotate(225deg)
}

.t2 .head.active:after {
	margin-top: -.3em;
	-webkit-transform: scaleY(-1) rotate(225deg);
	-moz-transform: scaleY(-1) rotate(225deg);
	-ms-transform: scaleY(-1) rotate(225deg);
	-o-transform: scaleY(-1) rotate(225deg);
	transform: scaleY(-1) rotate(225deg)
}

.t2 .body {
	border-top: 1px solid #eee;
	padding: 1.7em
}

.t2 .body p {
	line-height: 1.7em;
	margin-bottom: 1em
}

.t2 .body p img {
	width: 100%
}

.invited {
	text-align: center;
	margin-top: 5em
}

.invited p {
	line-height: 1.8em
}

.invited a {
	color: #666
}

.doc {
	border-left: 5px solid #a3dff3;
	background: #d0eff9;
	padding: 1em;
	margin: 2% 0
}

.doc p {
	line-height: 1.375em
}

.doc_info {
	box-shadow: 0 2px rgba(0,0,0,.01);
	background: #fff;
	padding: 1em;
	margin-bottom: 1.4em
}

.doc_info h3 {
	text-align: left;
	font-size: 1.2em;
	margin-bottom: 1em
}

.doc_info p {
	text-align: center;
	font-size: 1em!important
}

.doc_info .share_view_lay>ul {
	overflow: hidden;
	margin: 1.1111em 1.5em 0 1.5em
}

.doc_info .share_view_lay>ul li {
	float: left;
	width: 33.33333%;
	margin-bottom: 2.5em
}

.doc_info .share_view_lay>ul li a {
	display: block;
	color: #333;
	text-align: center;
	padding-top: 6em
}

.doc_info .share_view_lay>ul li a.WB {
	background: url(/static/content/images/wb.png) 50% 0 no-repeat;
	-moz-background-size: 5.5em 5.5em;
	-o-background-size: 5.5em 5.5em;
	-webkit-background-size: 5.5em 5.5em;
	background-size: 5.5em 5.5em
}

.doc_info .share_view_lay>ul li a.TWB {
	background: url(/static/content/images/twb.png) 50% 0 no-repeat;
	-moz-background-size: 5.5em 5.5em;
	-o-background-size: 5.5em 5.5em;
	-webkit-background-size: 5.5em 5.5em;
	background-size: 5.5em 5.5em
}

.doc_info .share_view_lay>ul li a.QZ {
	background: url(/static/content/images/qz.png) 50% 0 no-repeat;
	-moz-background-size: 5.5em 5.5em;
	-o-background-size: 5.5em 5.5em;
	-webkit-background-size: 5.5em 5.5em;
	background-size: 5.5em 5.5em
}

.doc_mg p {
	margin: 0!important
}

blockquote {
	border-left: 5px solid #eee;
	font-size: 17.5px;
	margin: 0 0 20px;
	padding: 10px 20px;
	text-align: left
}

blockquote p {
	text-align: left!important
}

blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child {
	margin-bottom: 0
}

blockquote footer,blockquote small,blockquote .small {
	color: #777;
	display: block;
	font-size: 80%;
	line-height: 1.42857;
	margin-bottom: 20px
}

blockquote footer:before,blockquote small:before,blockquote .small:before {
	content: "— "
}

.text-info {
	text-align: left
}

.text-info p {
	text-align: left;
	color: #46c37b;
	line-height: 1.6
}

.page-content .box_02 {
	background: #fff;
	margin: 1em 0
}

.page-content .tab_nav ul {
	overflow: hidden;
	border-bottom: 1px solid #eee
}

.page-content .tab_nav li {
	float: left;
	width: 33.33%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.page-content .tab_nav li a {
	font-size: 1.5em;
	line-height: 3em;
	display: block;
	text-align: center;
	color: #666
}

.page-content .tab_nav li a.on {
	color: #fc6500
}

.page-content .tab_item {
	padding: 1.5em
}

.page-content .tab_item p {
	font-size: 1.4em;
	line-height: 1.14286em;
	padding-bottom: .64286em;
	font-weight: normal;
	color: #333
}

.page-content .tab_item .notice {
	margin-top: 0
}

.page-content .tab_item .notice p {
	font-size: 1em!important;
	margin: 0;
	text-align: left!important;
	padding-bottom: 0
}

.page-content .tab_item .notice-alert p {
	color: #fff
}

.page-content .text-info {
	font-size: 1em!important;
	margin: 0
}

.page-content .tips_msg {
	padding: 1em 0 0;
	text-align: center
}

.page-content .img {
	width: 16.55em;
	margin-bottom: 3em
}

.page-content h3 {
	font-size: 1.4em;
	color: #50555b;
	padding: 0 0 .29412em
}

.page-content p {
	font-size: 1em;
	color: #87888c
}

.page-content .tips_btn {
	margin: 0 auto;
	padding: 5em 0;
	text-align: center;
	width: 17em
}

.page-content .tips_btn a {
	color: #515459
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px
}

.table>thead>tr>th,.table>thead>tr>td,.table>tbody>tr>th,.table>tbody>tr>td,.table>tfoot>tr>th,.table>tfoot>tr>td {
	padding: 8px 0;
	line-height: 2.42857;
	vertical-align: top;
	border-top: 1px solid #eaeff0;
	text-align: left
}

.table tbody tr:nth-child(2n) {
	background-color: #dff0d8!important
}

.table tbody tr:nth-child(2n) {
	background-color: transparent
}

.table tbody tr.warning:nth-child(2n) {
	background-color: #fcf8e3!important
}

.table-striped>tbody>tr:nth-child(odd) {
	background-color: #fafafa
}

.table .child td {
	background: #f2b53f;
	color: #fff
}

.table-child {
	width: 100%;
	max-width: 100%
}

.table-child>thead>tr>th,.table-child>thead>tr>td,.table-child>tbody>tr>th,.table-child>tbody>tr>td,.table-child>tfoot>tr>th,.table-child>tfoot>tr>td {
	padding: 4px 0;
	line-height: 1.2em;
	vertical-align: top;
	text-align: left
}

.page-login .item .input-validation-error {
	border: 1px solid #ff7a4d
}

.activate {
	text-align: center;
	margin-top: 1em
}

.activate p {
	line-height: 1.8em
}

.activate a {
	color: #666
}

.activate .error {
	color: #ff7a4d
}

.order_detail {
	background: #fff;
	margin-top: 0
}

.order_detail>ul>li {
	border-bottom: 0 solid #e5e5e5;
	margin: 10px 0;
	border-bottom: 0
}