*{-webkit-appearance: none;}
a:visited,
a{text-decoration:none;cursor:pointer;color:#575757;}
a.a,.a{color:#2876D6;}
input[type="checkbox"]{-webkit-appearance: checkbox;}
body,html,h1,h2,h3,h4,p,ul,li,form{margin:0;padding:0;line-height:28px;list-style:none;}
body,input,textarea,select{font-size:14px;font-family: "Microsoft YaHei";color:#575757;}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active{-moz-transform:rotate(0deg) scale(1.00,1.00) translate(0px,1px) skew(0deg,0deg);-moz-transform-origin:0% 0%;-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,1px) skew(0deg,0deg);-webkit-transform-origin:0% 0%;-o-transform:rotate(0deg) scale(1.00,1.00) translate(0px,1px) skew(0deg,0deg);-o-transform-origin:0% 0%;transform:rotate(0deg) scale(1.00,1.00) translate(0px,1px) skew(0deg,0deg);transform-origin:0% 0%;}
textarea{resize:none;overflow:auto;}
.com-content{background:#e1e5ee;margin:auto;overflow:hidden;position:relative;box-shadow: 0 0 10px #000;min-width:320px;max-width:540px;}
.com-content-area{margin:12px;}
input[type=text],
input[type=number],
input[type=email],
input[type=password],
.pxui-text,
.pxui-select{display:inline-block;vertical-align:middle;height:20px;line-height:20px;padding:8px;border:1px solid #cfcfcf;border-top:2px solid #c4cde0;border-left-color:#c4cde0;border-radius:3px;background:#fff;margin:6px;}
textarea{display:inline-block;vertical-align:middle;line-height:20px;padding:4px;border:1px solid #cfcfcf;border-top:2px solid #c4cde0;border-left-color:#c4cde0;border-radius:3px;background:#fff;margin:6px;}
.pxui-select{position:relative;}
.pxui-select i{width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 7px solid #575757;display:inline-block;vertical-align:middle;margin-left:8px;}
.pxui-select select{opacity:0;width:100%;height:37px;margin:0;top:0;left:0;position:absolute;padding:0;}
.pxui-button,
input[type=button],
input[type=submit],
input[type=reset]{background:#f7f7f7;border:1px solid #cfcfcf;padding:9px 12px 8px 12px;line-height:20px;display:inline-block;vertical-align:middle;margin:6px;color:#40597d;background-image:-webkit-gradient(linear,0% 0%, 0% 100%, from(#F6F6F6), to(#EEEEEE));}
.pxui-button:active,
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active{background-image:-webkit-gradient(linear,0% 0%, 0% 100%, from(#DCDCDC), to(#F7F7F7));}
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled{color:#9ca4b6;}
input[type=text]:disabled,
input[type=number]:disabled,
input[type=email]:disabled,
input[type=password]:disabled,
.text:disabled,
.pxui-select:disabled{background:#f5f5f5;color:#7B7B7B;}
a.pxui-light-button,
.pxui-light-button,
input.pxui-light-button{background:#fb4e3a;border-color:#fb4e3a;color:#fff;}
.pxui-light-button:active,
input.pxui-light-button:active{background:#C93A29;border-color:#C93A29;}
a.pxui-blue-button,
.pxui-blue-button,
input.pxui-blue-button{background:#56678e;border-color:#56678e;color:#fff;}
.pxui-blue-button:active,
input.pxui-blue-button:active{background:#272F42;border-color:#272F42;}
a.pxui-gray-button,
.pxui-gray-button,
input.pxui-gray-button{background:#B9B9B9;border-color:#B9B9B9;color:#fff;}
.pxui-gray-button:active,
input.pxui-gray-button:active{background:#8D8D8D;border-color:#8D8D8D;}
input.pxui-light-button:disabled,
input.pxui-gray-button:disabled,
input.pxui-blue-button:disabled{opacity:0.9;color:#ccc;}


h4{font-size:16px;}
h3{font-size:18px;}
h2{font-size:20px;}
h1{font-size:22px;}

input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled{-moz-transform:none;-webkit-transform:none;-o-transform:none;transform:none;}
input[type=button]:disabled:active,
input[type=submit]:disabled:active,
input[type=reset]:disabled:active{background:#f7f7f7;border:1px solid #cfcfcf;}
input.pxui-light-button:disabled:active{background:#fb4e3a;border-color:#fb4e3a;}
input.pxui-gray-button:disabled:active{background:#B9B9B9;border-color:#B9B9B9;}
input.pxui-blue-button:disabled:active{background:#56678e;border-color:#56678e;}

.arrow-right,
.arrow-left,
.arrow-bottom,
.arrow-top{display: inline-block;position: relative;background: red;width: 10px;height: 2px;border-radius:5px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);vertical-align: middle;margin-top: -6px;}
.arrow-right::before,
.arrow-left::before,
.arrow-bottom::before,
.arrow-top::before{content: "";display: inline-block;position: absolute;border-width: 0;background: red;width: 10px;height: 2px;border-radius:5px;top: 4px;left: 4px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);}
.arrow-left{-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);}
.arrow-bottom{margin-top: 0px;}
.arrow-top{-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);margin-top: 0px;}
.arrow-left::before{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);top:4px;left:-4px;}
.arrow-bottom::before{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);top:-4px;}
.arrow2-bottom,
.arrow2-top{display:inline-block;width: 0;height: 0;border-left: 4px solid transparent;border-right: 4px solid transparent;border-bottom: 6px solid #fb4e3a;position:relative;margin-bottom: 4px;}
.arrow2-bottom::before,
.arrow2-top::before{content: "";display: inline-block;position: absolute;right: -2px;bottom: -12px;border-width: 0;background: #fb4e3a;width: 4px;height: 6px;}
.arrow2-bottom{border-top: 6px solid #fb4e3a;border-bottom:0;margin-bottom:-2px;}
.arrow2-bottom::before{bottom: 6px;}



.mobile{ width:640px; margin: 0px auto; background: #FFFFFF;   font-family: "Microsoft YaHei" ! important;}
@media screen and ( max-width: 640px) {
    .mobile{ width: 100%; padding: 0px}
}
.mobile .box{ margin: 0px 20px; }
.mobile .wra h3{ padding: 10px 20px; padding-bottom: 0px}
.touchslider{position:relative;border:0px solid #e4e4e4;padding-bottom:0px;overflow:hidden;}
.touchslider .touchslider-item{ width:100%;}
.touchslider .touchslider-prev,
.touchslider .touchslider-next{width:18px;height:27px; display:block; position:absolute; top:285px;}
.touchslider .touchslider-prev{ left:10px;}
.touchslider .touchslider-next{ right:10px; background-position:-23px 0;}
.touchslider .touchslider-navtag{text-align:center;height:34px;display:inline-block;vertical-align:middle;width:100%}
.touchslider .touchslider-navtag span{width:14px;height:2px;background:#c1c1c1;overflow:hidden;display:inline-block; }
.touchslider .touchslider-navtag .touchslider-nav-item-current{background:#ff7363;}

.mobile .img320{display:block;margin:auto;}
.img320 { text-align:center;font-size: 0;}
.img320 img{}
.mobile .title h2{ font-size: 18px; padding:10px 0px}
.mobile .desc{
    margin-bottom: 10px;}
.mobile .desc a{
    background: #fdf3dc;color: #fb4e3a;border-color: #fdf3dc;height: 40px;overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding-right: 20px;display: block;
    line-height: 40px;
    padding-left: 14px;}
.mobile .parameter{ margin-bottom: 20px }
.mobile .parameter tr td:first-child{ color: #999999}
.mobile .parameter a.red{ color: #FF3300}
.mobile .parameter a.gray{ color: #999999}
.mobile .parameter .sku{ line-height: 0px}
.mobile .parameter .sku li{ padding: 2px 10px; border: 1px solid #999999;  margin: 5px; display:inline-block; cursor: pointer; position: relative}
.mobile .parameter .sku li i{ display: none; position: absolute; width: 10px; height: 10px; right: 0px; bottom: 0px; background: url(../images/checked.png); background-size: cover}
.mobile .parameter .sku li.curr{ border-color:#FF3300; color: #FF3300}
.mobile .parameter .sku li.curr i{ display: block;}
.mobile .parameter input{ margin: 0px}
.mobile .parameter input[type='button']{ width: 45px; font-size: 24px; cursor: pointer;border-radius: 0px}
.mobile .parameter input.input{ background: #FFFFFF; outline: none; border: 1px solid #DDDDDD; width: 50px; border-radius: 0px; text-align: center; height: 21px; border-left: 0px; border-right: 0px}
.mobile .line{ height: 1px; background: #E4E4E4; margin: 10px 0px}
.mobile .buyAddress{ margin-bottom: 20px}
.mobile .buyAddress td{ padding:5px 0px}
.mobile .buyAddress input{ margin: 0px; border: 1px solid #DDDDDD; outline: none}
.mobile .buyAddress input.address{ width: 80%}
.mobile .buyAddress select{ border: 1px solid #DDDDDD; padding: 8px; margin: 5px; width: 100px; margin-left: 0px}
.mobile .buyAddress textarea{ border: 1px solid #DDDDDD; width: 80%; height: 50px; margin: 0px; padding: 8px; outline: none}
.mobile .location{ width: 24px; height: 24px; position: absolute; left: 75%; top: 12px; background: url("../images/buy/location.png") no-repeat; background-size:cover}

.mobile .sdesc{ font-size: 14px; color: #666666}
.mobile .sdesc.yellow{ color: #FF3300; line-height: 150%}
.mobile .desc a i{ position: absolute; right: 20px; top: 22px}
.mobile .money{ font-size: 18px; color: #FF3300}
.mobile .services{margin:0 10px; margin-bottom:10px}
.mobile i{ background: url("../images/index.gif");background-size:105px 82px;}
.mobile .services i{display:inline-block;width:17px;height:18px;background-position:0 -32px;vertical-align:middle;}
.mobile .services :nth-child(2) i{background-position:-22px -32px;}
.mobile .services :nth-child(3) i{background-position:-44px -32px;}
.mobile .services :nth-child(4) i{background-position:-66px -32px;}
.mobile .services :nth-child(5) i{background-position:-88px -32px;}

.mobile .bg{ height: 20px; border: 1px solid #E4E4E4; border-left: 0px; border-right: 0px; background: #F2F2F2}
.mobile .detail_tab { border-bottom: 1px solid #E4E4E4; height: 44px}
.mobile .detail_tab li{ width: 100px; float: left; height: 44px; line-height: 44px; text-align: center; border-right: 1px solid #DDDDDD; cursor: pointer}
.mobile .detail_tab li.curr{ color: #FF3300}

.mobile .detail_item{ margin-bottom:60px}
.mobile .detail_item li{ display: none; padding: 20px}
.mobile .detail_item li.curr{ display: block}

.mobile .detail_item li img{ width:100%}
.mobile .footerBuy{ background:rgba(242,242,242,1); position: fixed; bottom: 0px; height: 60px; width: 100%; left: 0px; border-top: 0px solid #DDDDDD}
.mobile .footerBuy .box{ width:90%; margin: 0px auto}
 
 
@media screen and ( min-width:640px) {
     .mobile .footerBuy .box{ width: 100%; padding: 0px}
  }
@media screen and (min-width:641px){
    .mobile .detail_item li img{ width: 600px; padding: 0px}
}
.mobile .footerBuy .box input.btn{ padding: 12px 30px; width: 200px; margin: 0px auto; display: block; font-size: 18px; text-align: center; border: 0px; cursor: pointer}
.mobile .footerBuy .box input.btn.red{ color: #FFFFFF; background: #FF3300; border-radius: 2px; margin-top: 8px}

.mobile .sub input.btn.red{padding: 12px 30px; width: 80%; margin: 0px auto; display: block;  background: #FF3300;
    color: #FFFFFF; text-align: center; font-size: 18px; border-radius: 2px;  ; margin-top: 30px; margin-bottom: 30px; border: 0px; cursor: pointer}

.love li{ width: 33%; float: left;   position: relative; margin-bottom: 10px; margin-top: 10px; text-align: center}
.love li img{ width:80%; padding: 0px }
.mobile .wra .love h3{ font-size: 16px;   padding: 0px; height: 28px}

.love li span{ color: red; }

.mbuy img{
      max-width:100%;
}
.mbuy>p{
    margin:0px; 
    padding:0px;
}








