body,div,input,span,html,p,span,h4,hr,ol,li,form{margin:0; padding:0; font-size:16px;font-family:'黑体';}
body{
	background:#EEE;
}
input,textarea{
	outline:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
.main{
	min-width:320px;
	max-width:640px;
	margin:0 auto;
	background:#EEE;
	min-height:100%;
}
.mainbottombg{
	background:#FFF;
	height:52px;
	line-height:52px;
	text-align:center;
	padding:0 3% ;
	color:#1D453D;
	vertical-align:middle;
}
.mainbottombg span{
	display:inline-block;
	width:49.6%;
	height:34px;
	margin:8px 0;
	line-height:34px;
	border-top:1px solid #1D453D;
	border-bottom:1px solid #1D453D;
}
#tab1{
	border-left:1px solid #1D453D;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
#tab2{
	border-right:1px solid #1D453D;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.ac{
	color:#FFF;
	background:#1D453D;
}
.tab1{
	margin:15px 7.41%;
}
.tab2{
	padding:0;
	background:#FFF;
}
input[name="credit2"]{    
	width:71.7%;
	height:34px; 
	vertical-align:middle;	
	border-radius:5px;
	border:1px solid #DCDCDC;	
	background:#FFF;
	padding-left:8px;
	text-align:center;
	float:left;
}
input[name="submit"]{
	height:34px;
	line-height:34px;
	background:#1D453D;
	color:#FFF;
	text-align:center;
	width:26%;
	float:right;
	border-radius:5px;
	border:0;
}


/*我的积分类似*/
.icontain {    
    height: 46px;
    padding:18px 5px 0;
    border-bottom: 1px solid #a0a0a0;    
}
.conLeft {
    width: 50%;
    float: left;
    color: #898989;
}
.conRight {
    width: 30%;
    float: right;
    height: 40px;
    line-height: 40px;
    color: #1D453D;
    font-size: 1.1em;
    text-align: right;
    padding: 0 15px;
}
.fs {
    font-size: 0.9em;
    margin-top: 4px;
}
/*弹出*/
.pop_bg{
	background:rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	position:fixed;
	top:0; 
	left:0;
	right:0;
	bottom:0;	
}
.pop_con{
	width:80%;
	margin:15% 10%;
	min-height:400px;
	background:#1D453D;
	border-radius:8px;
	
}
.pop_con h4{
	color:#FFF;
	text-align:center;
	padding:4px;
	height:34px;
	line-height:34px;
	letter-spacing:2px;
}
.pop_con hr{
	border:0;
	height:1px;
	background:#FFF;
}
.rules_det{
	text-align:left;
	list-style:none;
	padding-left:16px;
}
.rules_det li{  
	line-height:35px;
	color:#1D453D;
	font-family:'微软雅黑';	
	font-size:0.95rem;
	letter-spacing:2px;
}



