*{	
	margin: 0;
	outline: 0;
	padding: 0;
	font-size: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
	color:#000;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
html {
	height: 100%;
	-webkit-text-size-adjust:none;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	font-size: 12px;
	line-height: 1.231;
	-webkit-touch-callout: none;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	position: relative;
	    background-color: #FFFFFF;
}
img {
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
img:not([src*="/"]){display:none;}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
th, td, caption {
	vertical-align: middle;
}
textarea {
	resize: none;
	border: 0;
	padding: 8px 0;
	border-radius: 0;
}
input, button, select, textarea {
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
}
li {
	list-style: none;
}

/**********************************common**********************************/
.white {
	color: #fff;
}
.gray {
	color: #aaa;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.ofh {
	overflow: hidden;
}
.align_left {
	text-align: left;
}
.align_right {
	text-align: right;
}
.align_center {
	text-align: center;
}
.vertical_top {
	vertical-align: top;
}
.vertical_middle {
	vertical-align: middle;
}
.vertical_bottom {
	vertical-align: bottom;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.hidden {
	display: none;
}
.hidden.on {
	display: block;
}
.vhidden {
	visibility: hidden;
}
.vhidden.on {
	visibility: visible;
}
.empty:empty {
	display: none;
}
.block {
	display: block;
}
.inlineBlock {
	display: inline-block;
}
.ml_10 {
	margin-left: 10px;
}
.mr_10 {
	margin-right: 10px;
}
.mt_10 {
	margin-top: 10px;
}
.mb_10 {
	margin-bottom: 10px;
}
.m_10 {
	margin: 10px;
}
.m_auto {
	margin: auto;
}
.ml_5 {
	margin-left: 5px;
}
.mr_5 {
	margin-right: 5px;
}
.mt_5 {
	margin-top: 5px;
}
.mb_5 {
	margin-bottom: 5px;
}
.m_5 {
	margin: 5px;
}
.m_auto {
	margin: auto;
}
.pl_10 {
	padding-left: 10px;
}
.pr_10 {
	padding-right: 10px;
}
.pt_10 {
	padding-top: 10px;
}
.pb_10 {
	padding-bottom: 10px;
}
.p_10 {
	padding: 10px 0;
}
.pl_5 {
	padding-left: 5px;
}
.pr_5 {
	padding-right: 5px;
}
.pt_5 {
	padding-top: 5px;
}
.pb_5 {
	padding-bottom: 5px;
}
.p_5 {
	padding: 5px;
}
.bold {
	font-weight: bold;
}
.bolder {
	font-weight: bolder;
}

.box {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rebeccapurple;
}
.box > * {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
.tbox {
	width: 100%;
	height: 100%;
}
.tbox > * {
	height: 100%;
	display: table-cell;
	vertical-align: top;
}
.tbox > *:last-child {
	width: 100%;
}

.pre{
	white-space: nowrap;
}

.center{
	text-align:center;
}

/*************************************************/

.box_swipe{
	overflow:hidden;
	position:relative;
}
.box_swipe>ul li{position:relative;}
.box_swipe>ul label{
	z-index:100;
	position:absolute;
	left:0;
	bottom:0;
	color:#666;
	text-align:center;
}
.box_swipe>ol{
	margin-top:10px;
	height:20px;
	/*position: absolute;
	z-index:10;
	bottom:0;*/
	width:100%;
	text-align:center;
	-webkit-box-sizing:border-box;
}

.box_swipe>ol>li{
	display:inline-block;
	margin:5px 3px;
	width:8px;
	height:8px;
	background-color:#fff;
	border-radius: 3px;
}
.box_swipe>ol>li.on{
	background-color:#05BDE9;
}

/*********************************************/
html,body,.container{
	min-height:100%;
}
.container{
	font-size:12px;
	max-width:640px;
	min-width:320px;
	margin:auto;
	position:relative;
	background: url(../images/1.jpg) no-repeat center 0;
	background-size:100% 100%;
}




.tbox_1 li{
	height:150px;
	vertical-align: middle;
	text-align:center;
}
.tbox_1 li:nth-of-type(2){width:100%;}
.tbox_1 li:nth-of-type(2) a{
	display: block;
	width:100px;
	height:100px;
	border:5px solid #bde0e2;
	background: #663399;
	color:#ffffff;
	font-size:23px;
	padding-top:31px;
	font-weight: 800;
	-webkit-box-sizing:border-box;
	border-radius:80px;
	margin: auto;
}

.tbox_1 li p{
	font-size:14px;
	width:80px;
	margin:auto 5px;
}
.tbox_1 li p label{
	display: block;
	color:#5ac5d4;
	/* color: #663399; */
	font-size: 18px;
}

/****/
.nav_integral{
	background:#5F6B6D;;
}
.nav_integral li{
	background:-webkit-gradient(linear, 0 0, 0 00%, from(#ffffff), to(#eeeeee)) no-repeat;
	-webkit-background-size:1px 60%;
	background-position: right center;
	    padding: 15px 0;
}
.nav_integral li:last-of-type{background:none;}
.nav_integral a{
	color:#ffffff;
	display: block;
	width:80px;
	margin:auto;
	height:50px;
	text-align: center;
}
.nav_integral a>span{
	display: block;
	width:30px;
	height:30px;
	margin:auto;
	background:url(../images/icons4.png) no-repeat center -10px;
	-webkit-background-size:50px auto;
}
.nav_integral a>span.icons_prize{background-position: center -10px;}
.nav_integral a>span.icons_luck{background-position: center -60px;}
.nav_integral a>span.icons_record{background-position: center -110px;}
.nav_integral a>span.icons_teach{background-position: center -160px;}
.nav_integral a>span.icons_teach1{background-position: center -210px;}
.nav_integral a>span.icons_teach2{background-position: center -260px;}






.table_record {
    background: #ffffff;
	    text-align: center;
		    line-height: 30px;
}
.table_record thead {
        background: #663399;
}
.table_record thead td {
    line-height: 35px;
    color: #ffffff;
    font-size: 16px;
}

.table_record thead td {
    text-indent: 10px;
}
.table_record thead td {
    line-height: 35px;
    color: #EFEFEF;
    font-size: 16px;
}

















