<script type="text/javascript" src="../addons/hpmd_shakewin/style/jquery.gcjs.js"></script>
<script type="text/javascript" src="../addons/hpmd_shakewin/style/jquery.form.js"></script>
<script type="text/javascript" src="../addons/hpmd_shakewin/style/tooltipbox.js"></script>
<link href="../addons/hpmd_shakewin/style/exam.css" rel="stylesheet"/>
<script>
	require(['bootstrap'],function($){
		$('.btn').tooltip();
	});
</script>
<script language="javascript">
    function err(msg){
        message(msg,'','error');
    }
</script>
