{template 'common_head'}

<section class="p_10">
			<table class="table_record">
				<thead>
				<tr>
					<td style="width:35%;">姓名</td>
					<td style="width:45%;text-align:center;">时间</td>
					<td style="width:20%;text-align:center;">总签到</td>
				</tr>
				</thead>
				<tbody>
				{loop $res $i $item}
					<tr>
						<td>{$item['nickname']}</td>
						<td><?php echo date('Y-m-d H:i:s',$item['time']);?></td>
						<td style="width:20%;text-align:center;">{$item['popenid']}</td>
					</tr>
				{/loop}	
				</tbody>
			</table>
		</section>
</div>

{template 'common_foot'}