{template 'common/header'}

{if $op == 'display'}
<div class="main">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{php echo $this->createWebUrl('Lunbo');}">轮播列表</a></li>
        <li><a href="{php echo $this->createWebUrl('Lunbo', array('op' => 'edit'));}">新增轮播</a></li>
    </ul>
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th>轮播图片</th>
                    <th>制作时间</th>
                    <th style="text-align:right;">操作</th>
                </tr>
                </thead>
                <tbody>
                {loop $edit_admin $row}
                <tr>
                    <td><img src="<?php echo tomedia($row['pic']);?>" style="width:100px; height:100px;"/></td>
                    <td><?php echo date('Y-m-d H:m:s',$row['createtime']);?></td>
                    <td style="text-align:right;">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('Lunbo', array('id' => $row['id'], 'op' => 'edit'))}" title="编辑"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="#" onclick="drop_confirm('您确定要删除吗?', '{php echo $this->createWebUrl('LunboDelete', array('id' => $row['id']))}');" title="删除"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                {/loop}
                </tbody>
            </table>
        </div>
        <div style="float:right;">{$pager}</div>
        <div style="clear:both;"></div>
    </div>
</div>

<script type="text/javascript">
    function drop_confirm(msg, url){
        if(confirm(msg)){
            window.location = url;
        }
    }
</script>






{elseif $op == 'edit'}

<div class="main">
    <ul class="nav nav-tabs">
        <li><a href="{php echo $this->createWebUrl('Lunbo');}">轮播列表</a></li>
        <li class="active"><a href="{php echo $this->createWebUrl('Lunbo', array('op' => 'edit'));}">新增轮播</a></li>
    </ul>

    <style>
        .table td span{display:inline-block;margin-top:4px;}
        .table td input{margin-bottom:0;}
    </style>


    <div class="clearfix">
        <form class="form-horizontal form" action="" method="post" enctype="multipart/form-data">
            <div class="panel panel-default">
                <div class="panel-heading">轮播编辑界面</div>
                <div class="panel-body">

                    <input type="hidden" name="id" value="{$info['id']}">
                    <input type="hidden" name="op" value="edit">

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">轮播图片</label>
                        <div class="col-sm-8 col-xs-12">
                            {php echo tpl_form_field_image('pic', $info['pic'], '')}
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
        </form>
    </div>
</div>

{/if}

<div class="uid" id="<?php echo $uniacid;?>"></div>




{template 'common/footer'}

