<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>测试号</title>
	<meta name="format-detection" content="telephone=no, address=no">
	<meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="keywords" content="">
	<meta name="description" content="">
      <link rel="stylesheet" type="text/css" href="{TEMPLATE_PATH}css/qd.css">
	    <script type="text/javascript" src="{TEMPLATE_PATH}js/zepto.20140212.js"></script>

	<script src=""></script>
        <style type="text/css"> 



















		</style>
</head>
<body onselectstart="return true;" ondragstart="return false;">
<div class="container container-fill">
<header>
				<ul class="tbox tbox_1">
					<li>
						<p class="pre">
							<label>{$profile['credit1']}</label>
							可用积分
						</p>
					</li>
					<li>
										<a class ="qian" href="javascript:void(0)" ><label>已签到</label></a>
							
					</li>
					<li>
						<p class="pre">
							<label>{$user_total}</label>
							签到次数
						</p>
					</li>
				</ul>
				<nav class="nav_integral">
					<ul class="box">
						<li><a href="{php echo $this->createMobileUrl('Zong', array('rid' => $rid ));}"><span class="icons icons_prize">&nbsp;</span><label>获奖记录</label></a></li>
						<li><a href="{php echo $this->createMobileUrl('my', array('rid' => $rid ));}"><span class="icons icons_luck">&nbsp;</span><label>签到记录</label></a></li>
						<li><a href="{php echo $this->createMobileUrl('jing', array('rid' => $rid ));}"><span class="icons icons_record">&nbsp;</span><label>今日排名</label></a></li>
												<li><a href="{php echo $token_url}"><span class="icons icons_teach">&nbsp;</span><label>积分兑换</label></a></li>
											</ul>
				</nav>
			</header>

<section class="p_10">
			<table class="table_record">
				<thead>
				<tr>
					<td style="width:35%;">姓名</td>
					<td style="width:45%;text-align:center;">时间</td>
					<td style="width:20%;text-align:center;">排名</td>
				</tr>
				</thead>
				<tbody>
				{loop $res $i $item}
					<tr>
						<td>{$item['nickname']}</td>
						<td><?php echo date('Y-m-d H:i:s',$item['time']);?></td>
						<td style="width:20%;text-align:center;">{$item['fen']}</td>
					</tr>
				{/loop}	
				</tbody>
			</table>
		</section>
</div>

<script>
			/**
 			 * 积分签到
			*/
			 $(".qian").on('click', function (e)
    {
             e.preventDefault();

             $.post('{php echo $this->createMobileUrl('qian',array('type'=>'uids'))}', { p: 1 }, function(data){
    
             // $('#toupiao').html(data);
         
							if (data == '')
							{
								   // $('#toupiao').append('<span>已投票</span>');
								   alert('已投票');
							}else
							{
								   // $('#toupiao').append('<span>票</span>');
								   // $('.piao').html(data);
								   alert(data);
							};
         
            })



    });
		</script>

</body></html>