@charset "utf-8";
/* CSS Document */
/*公共部分*/

* {
    font-family: "microsoft yahei", "helvetica", "heiti SC", "droid", "sans";
    word-spacing: 0px;
    margin: 0;
    padding: 0;
}


/*图片裁剪-触屏设备*/
@import url(reset.css);
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?rretjt');
    src:url('../fonts/icomoon.eot?#iefixrretjt') format('embedded-opentype'),
    url('../fonts/icomoon.woff?rretjt') format('woff'),
    url('../fonts/icomoon.ttf?rretjt') format('truetype'),
    url('../fonts/icomoon.svg?rretjt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.htmleaf-container{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #000;
    display: none;
    z-index: 9999999;
}



#clipArea {
    height: 90%;
}


/*上传图标*/
#file{
    float: left;
    height: 100%;
}
#clipBtn{
    float: right;
    height: 100%;
    width: 5rem;
    background: #18b4ed;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 2rem;
    z-index: 999;
}
.foot-use{
    background: #fff;
    height: 10%;
    width: 100%;
position: relative;
}

.uploader1 {
    position: absolute;
    width: 50%;
    height: 8rem;
    cursor: default;
    height: 100%;
    float: left;
}


.button {
    float: left;
    height: 100%;
    display: inline-block;
    outline: 0 none;
    margin: 0;
    cursor: pointer;
    border: 0;
    width: 5rem;
    font-size: 2rem;
}


.uploader1 input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height:8rem;
    width: 50%;
    cursor: pointer;
    border: solid 1px #ddd;
    opacity: 0;
}
input[type=button]::-moz-focus-inner {
    padding: 0;
    border: 0 none;
    -moz-box-sizing: content-box;
}

input[type=button]::-webkit-focus-inner {
    padding: 0;
    border: 0 none;
    -webkit-box-sizing: content-box;
}

input[type=text]::-moz-focus-inner {
    padding: 0;
    border: 0 none;
    -moz-box-sizing: content-box;
}

input[type=text]::-webkit-focus-inner {
    padding: 0;
    border: 0 none;
    -webkit-box-sizing: content-box;
}

.blue .button {
    color: #fff;
    background: #18b4ed;
    height: 100%;

}


button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button, input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}