<!-- 
<div class="panel panel-default">
  <div class="panel-heading">{$_W['account']['name']}管理员微信绑定</div>
  <div class="panel-body">
    <table class="table">
    	<thead>
    		<tr>
    			<th>头像</th>
    			<th>昵称</th>
    			<th>openid</th>
    			<th>姓名</th>
    			<th>电话</th>
    			<th>操作</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td></td>
    		</tr>
    	</tbody>
    </table>
  </div>
  <div class="panel-footer">
  	
  </div>
</div>

 -->