
/*文字轮播*/
#textHeight{line-height:25px; height:25px; overflow:hidden; width:200px; font-size:20px;margin: 0 auto;}

/*轮播图*/
.swiperimg{
    width: 100%;
    height: 184px!important;
}

/*导航*/
.icon{
    height: 40px;
    width: 40px;
}
.lineH-40{
    line-height: 40px;
}