{template 'common/header'}
<div class="panel panel-default">
    <div style="padding: 10px;">
        <h2>设置关键字回复</h2>
        <div>
            <div>
                设置关键字为 .*
            </div>
            <div>
                托管方式为正则表达式方式
            </div>
            <div>
                如下图所示：
            </div>
        </div>
        <div>
            <img  style="width: 100%; height: auto;" src="../../../addons/liaotian_doubi/public/img.png" alt="">
        </div>
    </div>
</div>
{template 'common/footer'}