<html class="hairlines">
    <head>
        <meta charset="utf-8">
        <title>
            编辑收件地址-轻松筹
        </title>
        <meta property="wb:webmaster" content="26f01d0b94394447">
        <meta property="qc:admins" content="2541756431167376730756375">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <link rel="dns-prefetch" href="http://static.qschou.com">
        <link rel="dns-prefetch" href="http://images.qingsongchou.com">
        <link rel="dns-prefetch" href="http://wysiwyg.qingsongchou.com">
        <link rel="dns-prefetch" href="http://wx.qlogo.cn">
        <link rel="dns-prefetch" href="http://mmbiz.qpic.cn">
        <link rel="dns-prefetch" href="http://datax.baidu.com">
        <link rel="stylesheet" type="text/css" href="http://static.qschou.com/css/v5/qscui.css?v=338">
        <link rel="stylesheet" type="text/css" href="http://static.qschou.com/css/v5/upgrade.css?v=338">
        <script charset="utf-8" src="http://datax.baidu.com/x.js?si=65dfcf8f1948f7203dd3fb620de01083&amp;dm=qschou.com">
        </script>
        <script type="text/javascript" async="" charset="utf-8" src="http://c.cnzz.com/core.php?web_id=1258099671&amp;t=q">
        </script>
        <script src="//hm.baidu.com/hm.js?65dfcf8f1948f7203dd3fb620de01083">
        </script>
        <script type="text/javascript">
            var baseURL = 'http://m.qschou.com/';
            var uploadURL = 'http://uploads.qingsongchou.com/';
            var staticURL = 'http://static.qschou.com/';
            var themeURL = 'http://static.qschou.com/';
            var fileNumLimit = 9;
            var queryParam = '?token=ef5cNThc66QzdZVdAwuOXSnBC%2FXwYahu2l6Y7O1iUrfzCgwhwbaa6YB%2F%2FcBQJXF4pCVQoR0';
            var logged = '8456055e-ac31-47f9-9f11-d051bceab6aa';
            var clientId = '';
            var projectUrl = '';
            var platform = 'mobile';
            var geo = '';
            if (window != parent && window.location.toString().indexOf("iframe=true") == -1) {
                if (typeof baseURL != "undefined" && window.location.toString().indexOf(baseURL) != -1) {
                    top.location.href = window.location.href
                } else {
                    top.location.href = baseURL
                }
            }
            var _paq = _paq || [];
            var _hmt = _hmt || [];
            _hmt.push(["_setUserId", logged]);
            var share = {
                name: '编辑收件地址-轻松筹',
                introduction: '轻松筹社交版',
                pic: 'http://static.qschou.com/themes/touch/assets/images/icon/touch-icon-ipad.png',
                url: 'http://m.qschou.com/user/address/edit/368032'
            };
        </script>
        <script type="text/javascript" src="http://sdk.talkingdata.com/app/h5/v1/websdk/js/sdk_release.js">
        </script>
        <style type="text/css">
            .fancybox-margin{margin-right:0px;}
        </style>
    </head>
    
    <body ontouchstart="" class="platform_mobile">
        <div class="global-notice">
            <i class="icon">
            </i>
            <span>
                <a href="/page/notice">
                    轻松筹网站全新改版，点击查看新版介绍
                </a>
            </span>
            <a href="javascript:void(0);" class="notice-close">
            </a>
        </div>
        <div class="qsc-alert" style="display: none;">
            <i class="info-base64">
            </i>
            <span>
            </span>
        </div>
        <div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading"
        tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog middle">
                <div class="modal-content">
                    <i class="icon-white icon-loading-base64">
                        <i class="icon-white icon-loading-box-base64 icon-spin">
                        </i>
                    </i>
                    <span>
                        加载中
                    </span>
                </div>
            </div>
        </div>
        <div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading-new">
            <div class="modal-dialog middle">
                <div class="modal-content">
                    <i class="icon-loading-base64">
                        <i class="icon-loading-box-base64 icon-spin">
                        </i>
                    </i>
                    <span>
                        加载中
                    </span>
                </div>
            </div>
        </div>
        <div class="content top bottom mod-user-address">
            <form class="qsc-form" method="post" action="" name="addressForm" id="addressForm">
                <div class="qsc-form-group">
                    <div class="form-item">
                        <label class="control-label">
                            省份
                        </label>
                        <div class="form-select">
                            <select id="province" name="province" data-id="1172">
                                <option value="0">
                                    请选择
                                </option>
                                <option value="20">
                                    北京
                                </option>
                                <option value="38">
                                    天津
                                </option>
                                <option value="56">
                                    河北
                                </option>
                                <option value="240">
                                    山西
                                </option>
                                <option value="372">
                                    内蒙古
                                </option>
                                <option value="486">
                                    辽宁
                                </option>
                                <option value="601">
                                    吉林
                                </option>
                                <option value="671">
                                    黑龙江
                                </option>
                                <option value="813">
                                    上海
                                </option>
                                <option value="832">
                                    江苏
                                </option>
                                <option value="948">
                                    浙江
                                </option>
                                <option value="1050">
                                    安徽
                                </option>
                                <option value="1172">
                                    福建
                                </option>
                                <option value="1267">
                                    江西
                                </option>
                                <option value="1379">
                                    山东
                                </option>
                                <option value="1537">
                                    河南
                                </option>
                                <option value="1715">
                                    湖北
                                </option>
                                <option value="1833">
                                    湖南
                                </option>
                                <option value="1970">
                                    广东
                                </option>
                                <option value="2113">
                                    广西
                                </option>
                                <option value="2237">
                                    海南
                                </option>
                                <option value="2265">
                                    重庆
                                </option>
                                <option value="2305">
                                    四川
                                </option>
                                <option value="2508">
                                    贵州
                                </option>
                                <option value="2606">
                                    云南
                                </option>
                                <option value="2752">
                                    西藏
                                </option>
                                <option value="2833">
                                    陕西
                                </option>
                                <option value="2951">
                                    甘肃
                                </option>
                                <option value="3052">
                                    青海
                                </option>
                                <option value="3104">
                                    宁夏
                                </option>
                                <option value="3132">
                                    新疆
                                </option>
                                <option value="3307">
                                    香港
                                </option>
                                <option value="3308">
                                    澳门
                                </option>
                                <option value="3309">
                                    台湾
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="control-label">
                            城市
                        </label>
                        <div class="form-select">
                            <select id="city" name="city" data-id="1187">
                                <option value="">
                                    请选择城市
                                </option>
                                <option value="1173">
                                    福州
                                </option>
                                <option value="1187">
                                    厦门
                                </option>
                                <option value="1194">
                                    莆田
                                </option>
                                <option value="1200">
                                    三明
                                </option>
                                <option value="1213">
                                    泉州
                                </option>
                                <option value="1226">
                                    漳州
                                </option>
                                <option value="1238">
                                    南平
                                </option>
                                <option value="1249">
                                    龙岩
                                </option>
                                <option value="1257">
                                    宁德
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="control-label">
                            地区
                        </label>
                        <div class="form-select">
                            <select id="area" name="area" data-id="1188">
                                <option value="">
                                    请选择区县
                                </option>
                                <option value="1188">
                                    思明区
                                </option>
                                <option value="1189">
                                    海沧区
                                </option>
                                <option value="1190">
                                    湖里区
                                </option>
                                <option value="1191">
                                    集美区
                                </option>
                                <option value="1192">
                                    同安区
                                </option>
                                <option value="1193">
                                    翔安区
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-item input-cell">
                        <textarea name="address" class="control-input" placeholder="填写详细地址，例如街道名称，楼层和门牌号等信息"
                        rows="3">
                            世贸天街
                        </textarea>
                    </div>
                    <div class="form-item">
                        <label for="holder" class="control-label">
                            收件人
                        </label>
                        <input type="text" id="holder" name="holder" class="control-input" placeholder="填写收件人姓名"
                        value="HMH">
                    </div>
                    <div class="form-item">
                        <label for="phone" class="control-label">
                            手机号码
                        </label>
                        <input type="tel" id="phone" name="phone" class="control-input" placeholder="填写收件人手机号码"
                        value="18750946068">
                    </div>
                    <div class="form-item">
                        <label for="zip" class="control-label">
                            邮政编码
                        </label>
                        <input type="tel" id="zip" name="zip" class="control-input" placeholder="填写邮政编码 (选填)"
                        value="">
                    </div>
                    <div class="form-item form-switch">
                        <input type="checkbox" name="defaultLocation" id="defaultLocation" value="0">
                        <label for="defaultLocation" class="radius pull-right">
                        </label>
                        <p class="form-switch-text">
                            设为默认地址
                        </p>
                    </div>
                </div>
                <div class="footer-btn">
                    <input type="submit" name="save-action" class="btn btn-primary btn-lg btn-block"
                    value="保存">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#address-delete"
                    class="btn btn-danger btn-lg btn-block">
                        删除地址
                    </a>
                    <input name="csrf" type="hidden" value="3b1c889fcec560ece25e2ee70a9fe5cc">
                    <input name="token" type="hidden" value="50b4C16HvngzZuyorNgazgbM28rvCn+BzZ9EUn8d3q3Ua2fXe+B6c+NL6YIhpgr0Zbj7zVNEPwLRSY5OCVZEUdRQRIemQ5Ap">
                    <input name="referer" type="hidden" value="http://m.qschou.com/user/address">
                    <input name="retry" type="hidden" value="">
                    <input name="country" type="hidden" value="CN">
                </div>
                <div class="qsc-modal dialog" id="address-delete" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog middle">
                        <div class="modal-content">
                            <div class="modal-header">
                                删除地址确认
                            </div>
                            <div class="modal-body">
                                删除收件地址后将无法恢复，你确定要删除？
                            </div>
                            <div class="modal-footer clearfix" role="group">
                                <button type="button" class="btn" data-dismiss="modal">
                                    取消
                                </button>
                                <input type="button" name="delete-action" class="btn active" value="确定删除">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <link rel="stylesheet" type="text/css" href="http://static.qschou.com/css/v5/icons.css?v=338">
        <script type="text/javascript" src="http://static.qschou.com/js/v5/user.min.js?v=338">
        </script>
        <script src="http://sdk.talkingdata.com/app/h5/v1?appid=1CF6F15A3E4A341EFFFF05E55386BDBF&amp;vn=轻松筹社交版
        v1.0&amp;vc=1.0">
        </script>
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://": " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1258099671'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1258099671' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <span id="cnzz_stat_icon_1258099671">
        </span>
        <script src=" http://w.cnzz.com/q_stat.php?id=1258099671" type="text/javascript">
        </script>
    </body>

</html>