<html class="hairlines">
    
    <head>
        <meta charset="utf-8">
        <title>
            实名认证-轻松筹
        </title>
        <meta property="wb:webmaster" content="26f01d0b94394447">
        <meta property="qc:admins" content="2541756431167376730756375">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <link rel="dns-prefetch" href="http://static.qschou.com">
        <link rel="dns-prefetch" href="http://images.qingsongchou.com">
        <link rel="dns-prefetch" href="http://wysiwyg.qingsongchou.com">
        <link rel="dns-prefetch" href="http://wx.qlogo.cn">
        <link rel="dns-prefetch" href="http://mmbiz.qpic.cn">
        <link rel="dns-prefetch" href="http://datax.baidu.com">
        <link rel="stylesheet" type="text/css" href="http://static.qschou.com/css/v5/qscui.css?v=338">
        <link rel="stylesheet" type="text/css" href="http://static.qschou.com/css/v5/upgrade.css?v=338">
        <script charset="utf-8" src="http://datax.baidu.com/x.js?si=65dfcf8f1948f7203dd3fb620de01083&amp;dm=qschou.com">
        </script>
        <script type="text/javascript" async="" charset="utf-8" src="http://c.cnzz.com/core.php?web_id=1258099671&amp;t=q">
        </script>
        <script src="//hm.baidu.com/hm.js?65dfcf8f1948f7203dd3fb620de01083">
        </script>
        <script type="text/javascript">
            var baseURL = 'http://m.qschou.com/';
            var uploadURL = 'http://uploads.qingsongchou.com/';
            var staticURL = 'http://static.qschou.com/';
            var themeURL = 'http://static.qschou.com/';
            var fileNumLimit = 9;
            var queryParam = '?token=752fH%2FRaMiE8ovMUFZZnhicyg%2BC8gUw0bRdgrWngO4s55X1cu0vfbQQURKS6YOHqZitpiXU';
            var logged = '8456055e-ac31-47f9-9f11-d051bceab6aa';
            var clientId = '';
            var projectUrl = '';
            var platform = 'mobile';
            var geo = '';
            if (window != parent && window.location.toString().indexOf("iframe=true") == -1) {
                if (typeof baseURL != "undefined" && window.location.toString().indexOf(baseURL) != -1) {
                    top.location.href = window.location.href
                } else {
                    top.location.href = baseURL
                }
            }
            var _paq = _paq || [];
            var _hmt = _hmt || [];
            _hmt.push(["_setUserId", logged]);
            var share = {
                name: '实名认证-轻松筹',
                introduction: '轻松筹社交版',
                pic: 'http://static.qschou.com/themes/touch/assets/images/icon/touch-icon-ipad.png',
                url: 'http://m.qschou.com/user/verify'
            };
        </script>
        <script type="text/javascript" src="http://sdk.talkingdata.com/app/h5/v1/websdk/js/sdk_release.js">
        </script>
        <style type="text/css">
            .fancybox-margin{margin-right:0px;}
        </style>
    </head>
    
    <body ontouchstart="" class="platform_mobile">
        <div class="global-notice">
            <i class="icon">
            </i>
            <span>
                <a href="/page/notice">
                    轻松筹网站全新改版，点击查看新版介绍
                </a>
            </span>
            <a href="javascript:void(0);" class="notice-close">
            </a>
        </div>
        <div class="qsc-alert" style="display: none;">
            <i class="info-base64">
            </i>
            <span>
            </span>
        </div>
        <div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading"
        tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog middle">
                <div class="modal-content">
                    <i class="icon-white icon-loading-base64">
                        <i class="icon-white icon-loading-box-base64 icon-spin">
                        </i>
                    </i>
                    <span>
                        加载中
                    </span>
                </div>
            </div>
        </div>
        <div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading-new">
            <div class="modal-dialog middle">
                <div class="modal-content">
                    <i class="icon-loading-base64">
                        <i class="icon-loading-box-base64 icon-spin">
                        </i>
                    </i>
                    <span>
                        加载中
                    </span>
                </div>
            </div>
        </div>
        <div class="content top bottom mod-user-address">
            <form class="qsc-form mod-user-payment" method="post" action="">
                <div class="qsc-form-group">
                    <div class="form-item">
                        <label for="" class="control-label">
                            真实姓名
                        </label>
                        <input type="text" id="" name="real_name" class="control-input" value=""
                        placeholder="填写你的真实姓名">
                    </div>
                    <div class="form-item">
                        <label for="" class="control-label">
                            身份证号
                        </label>
                        <input type="text" id="" name="cert_no" class="control-input" value=""
                        placeholder="填写你的身份证号码">
                    </div>
                </div>
                <div class="footer-btn">
                    <input name="csrf" type="hidden" value="40da391d243c3199368b182eec3df7f0">
                    <input name="token" type="hidden" value="5b637knkOqhW7yqQfhsrVy1MD2yty0AeaQ1HOZZq+cYnke68/568WaEgKMtrIlI2ajfQTye34X7rqXbcGczz4jB1onjh+YA4">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        提交认证
                    </button>
                </div>
            </form>
        </div>
        <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js">
        </script>
        <script type="text/javascript">
            var alert_div_html = '<div id="my_alert_div" class="tishi"></div>';
            $(function() {
                // 根据csrf生产token
                $.ajax({
                    type: "POST",
                    url: "/ajax",
                    data: {
                        csrf: $('form input[name="csrf"]').val()
                    },
                    dataType: "json",
                    success: function(data) {
                        if (data.result == 0) {
                            if ($('form input[name="token"]').length) {
                                $('form input[name="token"]').attr('value', data.data);
                            } else {
                                $('form input[name="csrf"]').after('<input name="token" type="hidden" value=' + data.data + ' />');
                            }
                        }
                    }
                });
                $("button[type='submit']").click(function(event) {
                    event.stopPropagation();
                    event.preventDefault();
                    $.post('', $('form').serialize(),
                    function(data) {
                        if (data.result == -1) {
                            alert_show(data.msg);
                        } else {
                            document.location.href = data.data;
                        }
                    },
                    'json').error(function() {
                        alert_show('系统繁忙，请稍后再试');
                    });
                });
            });

            function alert_show(msg) {
                my_alert_show(msg);
            }

            function my_alert_show(msg) {
                if (!$("#my_alert_div").length) {
                    $("body").append(alert_div_html);
                }
                $("#my_alert_div").text(msg);
                $("#my_alert_div").show(msg);
                setTimeout(my_alert_hide, 3000);
            }

            function my_alert_hide() {
                $("#my_alert_div").hide();
            }
        </script>
        <link rel="stylesheet" type="text/css" href="http://static.qschou.com/css/v5/icons.css?v=338">
        <script type="text/javascript" src="http://static.qschou.com/js/v5/user.min.js?v=338">
        </script>
        <script src="http://sdk.talkingdata.com/app/h5/v1?appid=1CF6F15A3E4A341EFFFF05E55386BDBF&amp;vn=轻松筹社交版
        v1.0&amp;vc=1.0">
        </script>
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://": " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1258099671'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1258099671' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <span id="cnzz_stat_icon_1258099671">
        </span>
        <script src=" http://w.cnzz.com/q_stat.php?id=1258099671" type="text/javascript">
        </script>
    </body>

</html>