<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">群发模板ID</label>
  <div class="col-sm-9 col-xs-12">
    <input type="text" name="muban_id" value="{$settings['muban_id']}" class="form-control">
    <span class="help-block">默认示例：模板消息编号: OPENTM407392801（搜索“审核通过提醒”）<span style="color: red">若为订阅号，无需填写该项</span></span></div>
</div>
<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板消息头部</label>
  <div class="col-sm-9 col-xs-12">
    <input type="text" name="muban_header" value="{$settings['muban_header']}" class="form-control">
    <span class="help-block">#标题#、#作者#、#时间#，分别为文章的标题、作者和创建时间</span></div>
</div>
<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板消息尾部</label>
  <div class="col-sm-9 col-xs-12">
    <input type="text" name="muban_footer" value="{$settings['muban_footer']}" class="form-control">
    <span class="help-block">#标题#、#作者#、#时间#，分别为文章的标题、作者和创建时间</span></div>
</div>
<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板消息颜色</label>
  <div class="col-sm-9 col-xs-12">
    <input type="text" name="muban_ys" value="{$settings['muban_ys']}" class="form-control">
    <span class="help-block">模板消息中文字的颜色，如不太明白，可用默认设置</span></div>
</div>
<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板消息keyword1</label>
  <div class="col-sm-9 col-xs-12">
    <input type="text" name="muban_k1" value="{$settings['muban_k1']}" class="form-control" placeholder="若该模板消息中没有该keyword，则留空该项">
    <span class="help-block">#标题#、#作者#、#时间#，分别为文章的标题、作者和创建时间</span></div>
</div>
<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板消息keyword2</label>
  <div class="col-sm-9 col-xs-12">
    <input type="text" name="muban_k2" value="{$settings['muban_k2']}" class="form-control" placeholder="若该模板消息中没有该keyword，则留空该项">
    <span class="help-block">#标题#、#作者#、#时间#，分别为文章的标题、作者和创建时间</span></div>
</div>
<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板消息keyword3</label>
  <div class="col-sm-9 col-xs-12">
    <input type="text" name="muban_k3" value="{$settings['muban_k3']}" class="form-control" placeholder="若该模板消息中没有该keyword，则留空该项">
    <span class="help-block">#标题#、#作者#、#时间#，分别为文章的标题、作者和创建时间</span></div>
</div>
<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板消息keyword4</label>
  <div class="col-sm-9 col-xs-12">
    <input type="text" name="muban_k4" value="{$settings['muban_k4']}" class="form-control" placeholder="若该模板消息中没有该keyword，则留空该项">
    <span class="help-block">#标题#、#作者#、#时间#，分别为文章的标题、作者和创建时间</span></div>
</div>
<div class="form-group">
  <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板消息keyword5</label>
  <div class="col-sm-9 col-xs-12">
    <input type="text" name="muban_k5" value="{$settings['muban_k5']}" class="form-control" placeholder="若该模板消息中没有该keyword，则留空该项">
    <span class="help-block">#标题#、#作者#、#时间#，分别为文章的标题、作者和创建时间</span></div>
</div>