<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>星座运势</title>
    <meta charset="UTF-8">
    <meta content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="{php echo $this->_style}/css/style.css">

  </head>
  
  <body>
    <header class="public_header public_header_xzys">
      <a  class="public_h_logo">
        
      <a  class="public_h_txt">星座运势</a>
    
    </header>
    <div class="public_route">
      <a  class="public_r_home"></a>
      <div class="public_r_right">
        <a >十二星座</a>
        <a >星座运势</a></div>
    </div>
    <div class="public_block_title public_bt_xzys">
      <a href="javascript:;" class="public_bt_h3">十二星座运势</a></div>
    <div class="yunshi_xz">

      <div class="yx_xz_wrap">
        <div class="yx_xz" id="con1" title="今日运势" style="display: block">
          <a href="{php echo $this->createMobileUrl('order',array('op'=>1))}" class="box">
            <img src="{php echo $this->_style}/picture/1.png" alt="">
            <h3>白羊</h3>
            <p>3.21-4.19</p>
          </a>
          <a href="{php echo $this->createMobileUrl('order',array('op'=>2))}" class="box">
            <img src="{php echo $this->_style}/picture/2.png" alt="">
            <h3>金牛</h3>
            <p>4.20-5.20</p>
          </a>
          <a href="{php echo $this->createMobileUrl('order',array('op'=>3))}" class="box">
            <img src="{php echo $this->_style}/picture/3.png" alt="">
            <h3>双子</h3>
            <p>5.21-6.21</p>
          </a>
          <a href="{php echo $this->createMobileUrl('order',array('op'=>4))}" class="box">
            <img src="{php echo $this->_style}/picture/4.png" alt="">
            <h3>巨蟹</h3>
            <p>6.22-7.22</p>
          </a>
          <a href="{php echo $this->createMobileUrl('order',array('op'=>5))}" class="box">
            <img src="{php echo $this->_style}/picture/5.png" alt="">
            <h3>狮子</h3>
            <p>7.23-8.22</p>
          </a>
          <a href="{php echo $this->createMobileUrl('order',array('op'=>6))}" class="box">
            <img src="{php echo $this->_style}/picture/6.png" alt="">
            <h3>处女</h3>
            <p>8.23-9.22</p>
          </a>
          <a href="{php echo $this->createMobileUrl('order',array('op'=>7))}" class="box">
            <img src="{php echo $this->_style}/picture/7.png" alt="">
            <h3>天秤</h3>
            <p>9.23-10.23</p>
          </a>
          <a href="{php echo $this->createMobileUrl('order',array('op'=>8))}" class="box">
            <img src="{php echo $this->_style}/picture/8.png" alt="">
            <h3>天蝎</h3>
            <p>10.24-11.22</p>
          </a>
          <a href="{php echo $this->createMobileUrl('order',array('op'=>9))}" class="box">
            <img src="{php echo $this->_style}/picture/9.png" alt="">
            <h3>射手</h3>
            <p>11.23-12.21</p>
          </a>
          <a href="{php echo $this->createMobileUrl('order',array('op'=>10))}" class="box">
            <img src="{php echo $this->_style}/picture/10.png" alt="">
            <h3>摩羯</h3>
            <p>12.22-1.19</p>
          </a>
          <a href="{php echo $this->createMobileUrl('order',array('op'=>11))}" class="box">
            <img src="{php echo $this->_style}/picture/11.png" alt="">
            <h3>水瓶</h3>
            <p>1.20-2.18</p>
          </a>
          <a href="{php echo $this->createMobileUrl('order',array('op'=>12))}" class="box">
            <img src="{php echo $this->_style}/picture/12.png" alt="">
            <h3>双鱼</h3>
            <p>2.19-3.20</p>
          </a>
        </div>
     
    </div>

  
   
  </body>

</html>